@import '../../sass/master.scss';

.PriceSquare {
  background: $blackMamba;
  border-radius: 8px;
  height: 68px;
  padding: 12px;
  width: 68px;
}

.PriceSquare__price-text {
  color: $white;
  font-size: 18px;
  font-weight: 600;
}

.PriceSquare__frequency-text {
  color: $gray70;
  font-size: 8px;
}
